{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    img{
        width: 100%
    }
     body{
    background-color: ;
    color: rgb(0,0,0);
   }
   p{
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
   }
   h2{
    text-align: center;
    font-weight: bold;
   }
</style>
<h2>About us</h2>
<div class="row">
    <div class="col">
        <img src="{% static 'images/about2.jpg' %}">

    </div>
    <div class="col">
        <img src="{% static 'images/about1.jpg' %}">

    </div>
</div>
<p>In Jerome, we have our feet firmly on the ground of three States in Nigeria namely; Anambra, Enugu, and Delta, where our campuses are located. Our university of applied sciences (UAS) offers several great fields of study, skills, and achievements, of which students, personnel, and business life in the region can be proud of.</p>

<p>
    Therefore, it is no wonder that people from near and far come here, to receive the most international university education in the country, with an exceptionally strong spearhead on research and development. In fact, one in five of our almost 4,400 degree students, comes from outside Nigeria.
</p>

<p>
    We do not like to brag about our daily work, but thanks to our responsible, hard-working, and genuinely caring attitude, we have been praised as the most flexible university of applied sciences in the country. Especially our multi-modal students, who work alongside their studies, have embraced the fact that, in Centria, everyone has their own unique path. On that path, like on campus corridors, students, personnel, and working life really meet, in concrete terms, and this creates endless opportunities.
</p>

<p>
    The fact is that the courage to be your true self will carry you far. If Jerome has not left a heart-shaped mark on your soul yet, just wait. Because we have just the right combination of creative madness and common sense. Our three campuses work together, and we want the same team spirit and courage to be transferred to our students as well. Cooperation and shared insights are needed, for example, in the strong research, development, and innovation work we do with companies in the region. When we build on the solid basis of knowledge and research, we speed up – and even enable – the development of large-scale business in both industry and commerce, as well as welfare services.
</p>

<p>
    As a higher education institution, Jerome is not like everyone else, but a bold traveller of its own path. We believe in courage and the strong role of students in the university’s affairs, also in decision-making. We already do things as others will do in the future: Without discrimination and with a good spirit. At the same time, we keep the big picture in mind. Let’s not split hairs by concentrating on unnecessary things, and instead let’s take the bull by the horns and accomplish something really significant. This is caring with a capital C, regardless of whether the future lies in the world of science, business, or technology, in the twists and turns of trade and export, or in the well-being and care of others.
</p>

<p>
    PS. We are not offering you Helsinki or Paris, but a fair and bold approach to future working life. Who knows what life has in store for you? That is why it is good to have your bags packed for the journey ahead. For this, you need a university of applied sciences, where education, research, and real encounters lay the foundation for learning and working life. Not to forget the great work opportunities offered by the university’s region even after your studies. That is a good starting point. That is Jerome.

    Love, Jerome
</p>
{% endblock %}