{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
      .btn{
        background-color: rgb(245, 11, 89);
        color: white;
        font-weight: bold;
    }
    .btn:hover{
        background-color:  rgb(245, 11, 89);
        color: black;
    }
    body{
        background-color: white
    }
    img{
        width: 100%;
        border-radius: 20PX;
    }
    h1{
        text-align: center;
        font-weight: bold;
        color: rgb(245, 11, 89);;
    }
    h4{
        text-align: center;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        color: black;
    }
    span{
        font-weight: bold;
        font-size: 20px;
        color: black;
    }
    p{
        color: black;
        font-weight: bold;
        margin-left: 14px;
        font-size: 17px;
    }
    li{
        font-size: 17px;
    }
    h3{
        color: rgb(245, 11, 89);
        font-weight: bold;
        text-align: center;
    }
</style>
    <h1>HOW TO APPLY IN THE DIRECT APPLICATION</h1>
    <div class="row">
        <div class="col">
            <img src="{% static 'images/jointapp1.jpg' %}">
            

        </div>
        <div class="col">
            <img style="height: 448px;margin-right: 9px;"  src="{% static 'images/jointapp2.jpg' %}">

        </div>
    </div>

<div>

    <div>
        <h3>DIRECT APPLICATION TO JEROME UAS</h3>
        <p>
            Direct application means that you can apply only to one (1) study programme with one (1) application form. The study programme must be chosen from Savonia UAS’s offer. Please note, that if you submit several application forms, only the newest one will be taken into consideration and all others will be deleted. Savonia UAS will not inform applicants about deleted applications.
        </p>

        <h3>HOW TO APPLY IN THE DIRECT APPLICATION TO JEROME UAS</h3>
        <p>Steps to follow:</p>
        <p>1. 
            Check the <a href="{% url 'eligibility' %}">eligibility</a> criteria and make sure you have all necessary documents (and translations if needed) available when you start filling in the application form 
            <ul>
                <li>copies of final certificates</li>
                <li>copy of the official passport / ID</li>
            </ul>
        </p>
        <p>2. Find out which <a href="#">study programmes</a> Savonia UAS offers in the Direct Application and to which one of them you are going to apply.</p>
        <p>
            3. Fill in the <a>application form</a> at studyinfo.fi website 
            <ul>
                <li>In order to submit the application form you are required 
                    <ul>
                        <li>to answer at least mandatory questions marked with an asterisk (*).</li>
                        <li>to upload all necessary documents to the application form</li>
                    </ul>
                </li>
                <li>You can check the missing information by clicking “Check x answers” at the top of the page (Under Submit application button).</li>
            </ul>
        </p>
        <p>4. Click Submit application button on the top right corner of the page. After submitting the application, you will receive a confirmation email to the address you have given on the application form.</p>
        <p>5. After submitting your application form, follow your email regularly.
            <ul>
                <li>Read carefully all emails related to your application and ask if you have any concerns.</li>
                <li>Act quickly if you are asked for more information to support your application. Your application cannot be handled if necessary information or document is missing.</li>
                <li>Follow instructions and timetable given on e.g. attachments or entrance exam.
                </li>
            </ul>
        </p>
        <p>
            If you have any questions or concerns on your application, of if you wish to cancel your application, please contact Savonia UAS Admission Services. Also, if you have not received the confirmation email within 24 hours, please contact Savonia UAS Admission Services. Admission Services can check if your application form has been received and if the email address on the application form is correct.
        </p>
        <p>Savonia UAS Admission services</p>
        <a href="#">admisiion@jerome.fi</a>
    </div>
   
{% endblock %}